<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NoDockBlur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.roxiun.nodockblur</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.roxiun.nodockblur/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
	  	</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respringMethod</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Roxiun</string>
			<key>subtitle</key>
			<string>Follow me on Github</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>url</key>
			<string>https://github.com/Roxiun/</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSGroupCell</string>
    		<key>footerText</key>
    		<string>Made By Roxiun</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSGroupCell</string>
    		<key>footerText</key>
    		<string>NoDockBlur v0.0.1~beta2</string>
		</dict>
	</array>
	<key>title</key>
	<string>NoDockBlur</string>
</dict>
</plist>